/* Behaviors */
.tabBar {
    -randori-behavior: "behaviors.tabbar.TabBar";
}
.viewStack {
    -randori-behavior: "randori.behaviors.ViewStack";
}
.simpleList {
    -randori-behavior: "randori.behaviors.SimpleList";
}
.menuList{
    -randori-behavior: "behaviors.MenuList";
}
/* Mediators */
.simpleApp {
    -randori-mediator: "mediators.IndexMediator";
}
.loginFragment{
    -randori-mediator: "mediators.LoginMediator";
}
.miscView {
    -randori-mediator: "mediators.products.MiscMediator";
}
.animalView {
    -randori-mediator: "mediators.products.AnimalMediator";
}
.animalDetailView {
    -randori-mediator: "mediators.products.AnimalDetailMediator";
}

/* Fragments */
.loginFragment {
    -randori-fragment: "fragments/LoginFragment.html";
}
.contentFragment {
    -randori-fragment: "fragments/ContentFragment.html";
}
